      	<div class="caja2">
  	<div style="margin:5px 5px 5px 5px; color: white">
		<h2>FUNCIONES Y ESTRUCTURA if.. else</h2>
    </div>
  </div>

    <div class="main">
      <div class="slides">
          <img id="slide6" src="/images/slide6.jpg">

          <img id="slide7" src="/images/slide7.jpg">
      </div>
    </div>