<div class="login-page">
  <div class="form">
    <form class="register-form" action="/register" method="POST">
      <input type="text" placeholder="nombre" name="nombre"/>
      <input type="password" placeholder="contraseña" name="password"/>
      <input type="text" placeholder="correo electronico", name="email"/>
      <button>crear</button>
      <p class="message">Ya tienes cuenta? <a href="#">Entra</a></p>
    </form>
    <form class="login-form" action="/login" method="POST">
      <input type="text" placeholder="correo electronico" name="email"/>
      <input type="password" placeholder="contraseña" name="password"/>
      <button>Registrar</button>
      <p class="message">No estas registrado? <a href="#">Crear cuenta !</a></p>
    </form>
  </div>
</div>