  	<div class="caja2">
  	<div style="margin:5px 5px 5px 5px; color: white">
		<h2>TIPOS DE DATOS </h2>
    </div>
  </div>

    <div class="main">
      <div class="slides">
          <img id="slide4" src="/images/slide4.jpg">

          <img id="slide5" src="/images/slide5.jpg">

          <img id="slide8" src="/images/slide8.jpg">
      </div>
    </div>
