


	<div class='w3-card-2 topnav'>
		<h2>PHPSCHOOL</h2>
  </div>
  <div class="w3-bar">
    <a class="w3-bar-item w3-button w3-btn" href="/instalacion" >INSTALACION</a>
    <a class="w3-bar-item w3-button w3-btn" href="/video" >VIDEO TUTORIALES</a>
    <a class="w3-bar-item w3-button w3-btn" href="/primitivos">TIPOS DE DATOS</a>
    <a class="w3-bar-item w3-button w3-btn" href="/funciones" >FUNCIONES</a>
    <a class="w3-bar-item w3-button w3-btn" href="/" style="float: right;" onmouseover="this.style.color='red';" onmouseout="this.style.color='';">CERRAR SESSION</a>
  </div>


  <div>
    <div class="caja1" style="float: left;">
      <ul style="padding: 5px 5px 5px 5px;">
        <li>
          <h3 style="color: seagreen;">PHP TUTORIAL</h3>
        </li>
        <li>
          <a class="colorlink" href="#">1. INTRODUCCION</a>
        </li>
        <li>
          <a class="colorlink" href="#">2. COMENTARIOS</a>
        </li>
        <li>
          <a class="colorlink" href="#">3. VARIABLES</a>
        </li>
        </li>
      </ul>
    </div>
    <div class="main">
      <div class="slides">
          <img id="slide1" src="/images/slide1.jpg">
      
          <img id="slide2" src="/images/slide2.jpg">
      
          <img id="slide3" src="/images/slide3.jpg">
      </div>
    </div>
  </div>
	




